<!doctype html>
<html lang="en">
  <head>
  <title>
    <%= title %>
  </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type= "text/javascript">
        function xoahaykhong(tinnhan){
            if(window.confirm(tinnhan)==true){
                return true;
            }
             return false;
        }
    </script>
  </head>
  <body>
      
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-3">xem dữ liệu</h1>
            <p class="lead"> đã thêm vào mongodb</p>
            <hr class="my-2">
              
        </div>

        <table class="table table-striped table-hover table-bordered table-inverse">
            <thead class="thead-inverse">
                <tr>
                    <th> Tên sản phẩm</th>
                    <th>Ảnh chính </th>
                    <th>ảnh nhỏ 1</th>
                    <th>ảnh nhỏ 2</th>
                    <th>ảnh nhỏ 3</th>
                    <th>ảnh nhỏ 4</th>
                    <th>ảnh nhỏ 5</th>
                    <th>ảnh nhỏ 6</th>
                    <th>Trạng thái của sản phẩm</th>
                    <th>Mô tả sản phẩm</th>
                    <th>Chi tiết về sản phẩm</th>
                    <th>Gía bán gốc</th>
                    <th>giá đã sale</th>
                    <th>Đường dẫn SEO</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    <% data.forEach(function(motphantu){%>
                        <tr>
                            <td scope="row"><%= motphantu.tensp%></td>
                            <td><%= motphantu.bigImage%></td>
                            <td><%= motphantu.productImage1%></td>
                            <td><%= motphantu.productImage2%></td>
                            <td><%= motphantu.productImage3%></td>
                            <td><%= motphantu.productImage4%></td>
                            <td><%= motphantu.productImage5%></td>
                            <td><%= motphantu.productImage6%></td>
                            <td><%= motphantu.trangthai%></td>
                            <td><%= motphantu.mota%></td>
                            <td><%= motphantu.chitietsanpham%></td>
                            <td><%= motphantu.giagoc%></td>
                            <td><%= motphantu.giasale%></td>
                            <td><%= motphantu.duongdanSEO%></td>
                            <td>
                                <a href="/sua/<%= motphantu._id %>"><i class="fa fa-edit " aria-hidden="true"></i></a>/
                                <a onclick="return xoahaykhong(' ban có muốn xóa hay khong') ; " href="/xoa/<%= motphantu._id %>"<i class="fa fa-trash" aria-hidden="true"></i> </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
        </table>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>